[user]
  name = Charlie Arnold
  email = cwalv@meta.com

[core]
  editor = code --wait

[diff]
  tool = vscode

[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

[merge]
  tool = vscode

[mergetool "vscode"]
  cmd = code --wait $MERGED

[http]
  proxy = https://fwdproxy:8082
  proxySSLCert=/var/facebook/credentials/cwalv/x509/cwalv.pem
  proxySSLKey=/var/facebook/credentials/cwalv/x509/cwalv.pem

[prompt]
  showinfo = false
